*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
a{text-decoration: none;}
ul{list-style-type: none;}
.main{
    height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('../images/header.jpg');
    background-repeat: no-repeat;
    background-position: cover;
    background-size: 100% 100%;
}
#navbar{
    height: 80px;
    color: white;
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#navbar h3 a{
    color: white;   
    font-size: 2rem;
    letter-spacing: 6px;
    text-transform: uppercase;
    border: solid 1px white;

}
#navbar ul{
    display: flex;
    padding-top: 15px;

}
#navbar ul li a{
    color: white;
    padding: 15px 30px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px; 
    margin: 5px
}
#navbar ul li a:hover{
    transition: 0.5s;
    background-color: white;
    color: black;
    font-weight: 500;
}
.active{
    background-color: white;
    color: black!important;
    font-weight: 500;

}
#header-wrapper{
    position: relative;
    text-align: center;
}
#suburb-name{
    color: rgba(236, 63, 63,1)!important;
}
#header-wrapper a{
    color: white;
}
#header-content{
    /* position: absolute; */
    color: #fefefe;
    margin-top: 15%;  
}
#header-content h1{
    font-size: 3rem;
    letter-spacing: 8px;
    text-transform: uppercase;
}
#header-content p{
    letter-spacing: 3px;
    font-size: 22px;
}
#contact-btn{
    color: white;
    background-color: rgb(69, 123, 185);
    font-size: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 10px;
    width: 20%;
    margin-top: 20px;
    border: none;
}
#about-btn{
    color: white;
    background-color: rgb(226, 62, 62);
    font-size: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 10px;
    width: 20%;
    margin-top: 20px;
    border: none;
    
}
#contact-btn:hover{
    background-color: rgb(13, 61, 150);
    transition: 0.7s;
}

#about-btn:hover{
    background-color: rgb(150, 18, 13);
    transition: 0.7s;
}
#about-wrapper{
    width: 90%;
    margin: auto;
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    margin-bottom: 50px;
    align-items: center;
   
}
#about-wrapper img{
    background-repeat: no-repeat;
    background-position:cover ;

}
#about-header{
    width: 100%;
 
}
#about-header h1{
    text-transform: uppercase;
    letter-spacing: 3px;
}
#about-header p{
    line-height: 2rem;
    font-size: 18px;
    margin-top: 10px;
    text-align: left;
    padding-right: 150px;
}
#about-img-wrapper a{
    color: #fefe;
}
#about-img-wrapper button{
    background-color: rgb(13, 86, 155);
    width: 400px;
    font-size: 22px;
    padding: 10px;
    border: none;

}
#about-img-wrapper button:hover{
    transition: 0.7s;
    background-color: rgb(12, 54, 109);
}

#more{
    width: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.8)), url('../images/more.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    padding: 50px;
    color: white;
}
.more-content{
    width: 100%;
    margin: auto;
    margin: 50px;
    
}
.more-content h2{
    font-size: 2.5rem;
    letter-spacing: 3px;
    font-weight: 400;
    margin-bottom: 20px;
   
}
.more-content p{
    word-spacing: 2px;
    font-size: 22px;
    letter-spacing: 2px;
    width: 80%;
}
#more h1{
    margin-top: 50px;
    text-align: center;
    font-size: 3rem;
    letter-spacing: 3px;
    word-spacing: 5px;
    text-transform: capitalize;
}

#btn-group{
    text-align: center;
}
#btn-group a{
    
    color: white;

}
#gallery-btn{
    color: white;
    background-color: rgb(9, 182, 81);
    font-size: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 10px;
    width: 50%;
    margin-top: 20px;
    border: none;
    
}
#contact-btn1{
    font-size: 25px;
    background-color: rgb(25, 151, 235);
    border: none;
    text-transform: uppercase;
    padding-top: 15px;
    padding-bottom: 10px;
    width: 30%;
    margin-bottom: 40px;
    letter-spacing: 3px;
}
#contact-btn1:hover{
    transition: 0.7s;
    background-color: rgb(12, 100, 201);
}

#gallery-btn:hover{
    background-color:rgb(5, 179, 34) ;
    transition: 0.5s;
}
#gallery{
    background-color: lightgray;
}
#gallery h1{
    text-align: center;
    padding-top: 50px;
    font-size: 2.5rem;
    letter-spacing: 3px;
    color: rgba(0, 0, 0, 0.925);
}
#gallery-grid{
    padding: 50px;
    display: grid;
    text-align: center;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
}
#photos img{
    margin-top: 30px;
    box-shadow: 2px 2px 5px 3px black;
    width: 400px;
    height: 300px;
}
#contact{
    background: rgb(15,11,74);
    background: linear-gradient(90deg, rgba(15,11,74,1) 0%, rgba(63,204,157,1) 0%, rgba(26,247,156,1) 48%, rgba(35,228,187,1) 100%, rgba(182,218,223,1) 100%);
}
#contact-text{
    padding: 50px;
    text-align: center;
}
#contact-text h1{
    font-size: 2.5rem;
    letter-spacing: 2px;
}
#contact-text p{
    font-size: 1.2rem;
    letter-spacing: 2px;
}
form{   
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
input[type="text"]{
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #1af79c;
}
textarea{
    margin-top: 30px;
    margin-bottom: 30px;
    height: 300px;
    resize: vertical;
    font-size: 20px;
    padding: 10px;
    width: 100%;
    border: 1px solid #1af79c;
}
form label{
    font-size: 25px;
    margin: 15px 5px ;
}
input[type="submit"]{
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: 15px;
    padding-bottom: 10px;
    background-color: #2d5cdf;
    color: blanchedalmond;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    margin-bottom: 50px;
}
footer{
    text-align: center;
    font-size: 1.8rem;
    text-transform: capitalize;
    letter-spacing: 2px;
    padding-top: 30px;
    padding-bottom: 20px;
    color: blanchedalmond;
    background: rgba(228, 46, 14, 0.863);
}

@media(max-width:900px){
    #navbar h3{
        display: none;
    }
    #navbar ul li a{
        letter-spacing: 1px;
    }
    #header-content{
        margin-top: 30%;
    }

}